body{
    background-image: url(76741.jpg);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}    

h1{
    text-align: center;
    color: rgb(42, 9, 70);
    font-size: 50px;
    margin-top: 30px;
}

#buttonCripto{
    background: #e6ccff;
    font-weight: bold;
    margin: center;
    color: rgb(42, 9, 70);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#buttonDescripto{
    background: #e6ccff;
    font-weight: bold;
    margin: center;
    color: rgb(42, 9, 70);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root{
    border: 0px;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius:20px;
    padding:10px 0px 100px 0px;
    margin: 70px 400px 80px 400px;
    text-align: center;
    color:  rgb(42, 9, 70);
}

.question{
    text-align: center;
    font-size:20px;
}

#enterOffset{
    text-align: center;
    background-position-x: center;
    border:0px;
    margin-top: 20px;
}

#enterText{
    text-align: center;
    background-position-x: center;
    border:0px;
    margin-top: 30px;
}

#answer1{
    text-align: center;
    font-size:20px;
    margin-bottom: 40px;
}

#answer2{
    text-align: center;
    font-size:20px;
}